@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playwrite+IN:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');
@import url(../node_modules/normalize-css/normalize.css);

*{
  font-family: 'Smooch Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
}

body{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  background-color: rgb(216, 216, 216);
}

li{
  list-style: none;
}

h1{
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

h2{
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
  pointer-events: none;
}

h3{
 font-size: 1.35rem;
 font-weight: 500;
 padding: 0;
 margin: 0;
}

p, li{
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

label{
 opacity: 0.5;
}

input, textarea{
  font-size: 1.2rem;

}

svg{
  pointer-events: none;
}


#root {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
}

main {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  place-items: center;
  height: 100%;
  position: relative;
  padding: 2rem;
}

#sideMenu {
  position: fixed;
  display: flex;
  flex-direction: column;
  /* grid-column: 1 / 2; */
  min-height: 100%;
  background-color: rgb(139, 139, 139);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 50px;
  gap: 0.3rem;
  padding: 0.3rem;
  width: 400px;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: scroll;
  transition: 1s allow-discrete;
}

#resume {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  /* margin: 2rem; */
  width: min(210mm, 100%);
  top: 0;
}

@media print {
  #sideMenu {
    display: none;
  }
  #resume {
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
  }
}
/* 
@media (max-width: 770px) {
  #resume {
    display: none;
  }

  main {
    display: flex;
    width: 100vw;
  }

  #sideMenu {
    width: 100%;
    padding: 1rem;
    flex: 1;
  }
} */
